@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    background-color: #1d9bf0;
    color: white;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 10%;
    margin-right: 10%;
}

main > * + * {
    margin-top: 3rem;
}

h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

p {
    line-height: 1.8;
    font-size: 1.25rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

.profile-section {
    display: flex;
    gap: 1.5rem;
}

.profile-section > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photo-profile {
    width: 8rem;
    padding: 0.25rem;
    border: 2px solid white;
    border-radius: 50%;
}

.story-section > * + * {
    margin-top: 1rem;
}

.social-section {
    display: flex;
    gap: 1.5rem;
}

.social-section > a {
    font-size: 2rem;
}

.social-section > a:hover {
    opacity: 70%;
}

@media only screen and (max-width: 768px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    main > * + * {
        margin-top: 2rem;
    }

    .profile-section {
        gap: 1.25rem;
    }

    .photo-profile {
        width: 6.25rem;
        height: 6.25rem;
    }

    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }

    .social-section > a {
        font-size: 1.5rem;
    }
}
